 #map_canvas {
    width: 610px;
    height: 400px;
    position: relative;
    background-color: rgb(229, 227, 223);
    overflow: hidden;
}


/*********ESTILO DEL SLIDER**********/
div.slider {
    width:256px;
    margin:10px 0;
    border-radius:5px;
    background-color:#ccc;
    height:10px;
    box-shadow: 5px 5px 3px #666666;
    position: relative;
}
div.slider div.handle {
    width:10px;
    height:18px;
    background-color:#f00;
    cursor:move;
    box-shadow: 3px 3px 2px #666666;
    position: absolute;
    border-radius:5px;
}

div#zoom_element {
    width:50px;
    height:50px;
    background:#2d86bd;
    position:relative;
}