@styles = {
    <link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/combobox.css")'>
}
@pre_scripts = {
}

@post_scripts = {
}

@main("Prueba SQLfi")(styles)(pre_scripts) {
<div id="container_home_main">
<div id="container_home">
<div id="publi_der_home">
    <div id="corporativo2" style="clear: both; padding-top: 8px;">
        <form id="form1" name="form1" method="post" action="">
            <label>
                <input type="image" name="publicidad" id="publicidad" src='@routes.Assets.at("images/publicidad.png")'/>
            </label>
        </form>
        <p>&nbsp;</p>
    </div>
</div>

<div id="cuerpo_home">
    <div id="cintillo">
        Usted está en las <a class="principal" href="http://paginasamarillas.infoguia.net/" title="Paginas Amarillas">Paginas
        Amarillas</a> de Venezuela
    </div>
    <div id="logo">
        <a href="http://paginasamarillas.infoguia.net/" title="Paginas Amarillas de Venezuela en Internet"><img
                src='@routes.Assets.at("images/logo.png")' style="border: 0px none;" alt="Paginas Amarillas de Venezuela en Internet"></a>
    </div>


    <div id="centro">
        @search_panel()
    </div>


</div>
<div id="barra_menu">
    <a class="menu" href="http://paginasamarillas.infoguia.net/quienes.asp">Quienes Somos</a>&nbsp;&nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;&nbsp;<a
        class="menu" href="http://paginasamarillas.infoguia.net/anunciar.asp">Como
    Anunciar</a>&nbsp;&nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;&nbsp;<a class="menu"
                                                               href="http://paginasamarillas.infoguia.net/inscriba.asp">Registrese
    Gratis</a>&nbsp;&nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;&nbsp;<a class="menu" href="http://buscador.infoguia.net/"
                                                             target="_blank">Directorio
    Web</a>&nbsp;&nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;&nbsp;<a class="menu" href="http://prensa.infoguia.net/"
                                                          target="_blank">Prensa</a>&nbsp;&nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;&nbsp;<a
        class="menu" href="http://paginasamarillas.infoguia.net/contactenos.asp">Contactenos</a>
</div>
<div id="banners">
    <div id="banner_premium">

        <div style="position: relative; width: 468px; height: 60px; z-index: 6;">
            <script type="text/javascript">
                AC_FL_RunContent(
                'type','application/x-shockwave-flash','data','Img/bpventa.swf','width','468','height','60','wmode','Opaque','movie','/img/bpremium/bpventa','quality','high'
                ); //end AC code
            </script>
            <noscript>
                <object type="application/x-shockwave-flash" data='@routes.Assets.at("images/bpventa.swf")' width="468" height="60">
                    <param name="wmode" value="Opaque">
                    <param name="movie" value='@routes.Assets.at("images/bpventa.swf")'>
                    <param name="quality" value="high">
                </object>
            </noscript>
            <div style="position: absolute; top: 0px; left: 0px; width: 468px; height: 60px; z-index: 2;">
                <a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?bn=m&amp;id=41" target="empresa"><img
                        src='@routes.Assets.at("images/trans.gif")' style="border: 0px none;"
                        alt="Banner Premium en Las Paginas Amarillas - Infoguia.com"
                        title="Banner Premium en Las Paginas Amarillas - Infoguia.com" vspace="0" width="468"
                        height="60" hspace="0"></a>
            </div>
        </div>
    </div>
    <div id="banner_izq">
        <a href="http://paginasamarillas.infoguia.net/anunciar.asp"
           title="Anuncie en Infoguia.com - Paginas Amarillas en Internet"><img src='@routes.Assets.at("images/bannerpublique.jpg")'
                                                                                alt="Anuncie en Infoguia.com - Paginas Amarillas en Internet"
                                                                                border="0"></a>
    </div>
</div>
<div id="barra_categorias">
    Lista de Categorias Principales
</div>
<div id="categorias_home">
    <table id="table_categorias" border="0">
        <tbody>
        <tr>
            <td style="padding-left: 15px;">
                <ul style="margin-top: 0px;">
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=1" class="categorias"
                           title="Categoria Principal Adornos, Arreglos y Regalos en Paginas Amarillas">Adornos,
                        Arreglos y Regalos</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=2" class="categorias"
                           title="Categoria Principal Agricultura, Cria, Animales y Plantas en Paginas Amarillas">Agricultura,
                        Cria, Animales y Plantas</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=3" class="categorias"
                           title="Categoria Principal Alimentos ... Equipos y Accesorios en Paginas Amarillas">Alimentos
                        ... Equipos y Accesorios</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=4" class="categorias"
                           title="Categoria Principal Alimentos ... Productos en Paginas Amarillas">Alimentos ...
                        Productos</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=6" class="categorias"
                           title="Categoria Principal Articulos ... Varios en Paginas Amarillas">Articulos ...
                        Varios</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=7" class="categorias"
                           title="Categoria Principal Automoviles, Vehiculos, Camiones, Motos en Paginas Amarillas">Automoviles,
                        Vehiculos, Camiones, Motos</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=8" class="categorias"
                           title="Categoria Principal Aviones, Barcos y Trenes en Paginas Amarillas">Aviones, Barcos y
                        Trenes</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=9" class="categorias"
                           title="Categoria Principal Bancos, Seguros, Finanzas, Creditos en Paginas Amarillas">Bancos,
                        Seguros, Finanzas, Creditos</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=10" class="categorias"
                           title="Categoria Principal Bebidas y Tabaco en Paginas Amarillas">Bebidas y Tabaco</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=11" class="categorias"
                           title="Categoria Principal Belleza, Cuidado E Higiene en Paginas Amarillas">Belleza, Cuidado
                        E Higiene</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=12" class="categorias"
                           title="Categoria Principal Computacion, Informatica y Tecnologia en Paginas Amarillas">Computacion,
                        Informatica y Tecnologia</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=13" class="categorias"
                           title="Categoria Principal Construccion, Decoracion ... Productos en Paginas Amarillas">Construccion,
                        Decoracion ... Productos</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=14" class="categorias"
                           title="Categoria Principal Construccion, Decoracion ... Servicios en Paginas Amarillas">Construccion,
                        Decoracion ... Servicios</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=15" class="categorias"
                           title="Categoria Principal Consultores, Asesores ... Varios en Paginas Amarillas">Consultores,
                        Asesores ... Varios</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=16" class="categorias"
                           title="Categoria Principal Deportes, Recreacion, Hobbies y Juegos en Paginas Amarillas">Deportes,
                        Recreacion, Hobbies y Juegos</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=17" class="categorias"
                           title="Categoria Principal Educacion, Aprendizaje y Adiestramiento en Paginas Amarillas">Educacion,
                        Aprendizaje y Adiestramiento</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=18" class="categorias"
                           title="Categoria Principal Electricidad, Electronica, Iluminacion en Paginas Amarillas">Electricidad,
                        Electronica, Iluminacion</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=19" class="categorias"
                           title="Categoria Principal Empaques, Envases, Recipientes en Paginas Amarillas">Empaques,
                        Envases, Recipientes</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=20" class="categorias"
                           title="Categoria Principal Eventos, Arte y Espectaculos en Paginas Amarillas">Eventos, Arte y
                        Espectaculos</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=21" class="categorias"
                           title="Categoria Principal Ferreterias, Pinturas y Sanitarios en Paginas Amarillas">Ferreterias,
                        Pinturas y Sanitarios</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=22" class="categorias"
                           title="Categoria Principal Festejos y Recepciones en Paginas Amarillas">Festejos y
                        Recepciones</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=23" class="categorias"
                           title="Categoria Principal Fumigacion, Incineracion y Purificacion en Paginas Amarillas">Fumigacion,
                        Incineracion y Purificacion</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=46" class="categorias"
                           title="Categoria Principal Hogar, Vajillas y Utensilios en Paginas Amarillas">Hogar, Vajillas
                        y Utensilios</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=25" class="categorias"
                           title="Categoria Principal Limpieza, Pulitura y Mantenimiento en Paginas Amarillas">Limpieza,
                        Pulitura y Mantenimiento</a></li>
                </ul>
            </td>
            <td>
                <ul style="margin-top: 0px;">
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=26" class="categorias"
                           title="Categoria Principal Maderas y Vidrios en Paginas Amarillas">Maderas y Vidrios</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=27" class="categorias"
                           title="Categoria Principal Maquinas, Maquinarias y Equipos en Paginas Amarillas">Maquinas,
                        Maquinarias y Equipos</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=28" class="categorias"
                           title="Categoria Principal Materiales, Productos ... Varios en Paginas Amarillas">Materiales,
                        Productos ... Varios</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=47" class="categorias"
                           title="Categoria Principal Medios de Comunicacion Audiovisuales en Paginas Amarillas">Medios
                        de Comunicacion Audiovisuales</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=48" class="categorias"
                           title="Categoria Principal Medios de Comunicacion Digitales en Paginas Amarillas">Medios de
                        Comunicacion Digitales</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=49" class="categorias"
                           title="Categoria Principal Medios de Comunicacion Impresos en Paginas Amarillas">Medios de
                        Comunicacion Impresos</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=29" class="categorias"
                           title="Categoria Principal Metalmecanica, Metalurgia y Plasticos en Paginas Amarillas">Metalmecanica,
                        Metalurgia y Plasticos</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=30" class="categorias"
                           title="Categoria Principal Muebles, Mobiliario y Cuadros en Paginas Amarillas">Muebles,
                        Mobiliario y Cuadros</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=31" class="categorias"
                           title="Categoria Principal Oficina, Escolar, Papeleria, Libros en Paginas Amarillas">Oficina,
                        Escolar, Papeleria, Libros</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=32" class="categorias"
                           title="Categoria Principal Organismos, Instituciones, Gobierno en Paginas Amarillas">Organismos,
                        Instituciones, Gobierno</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=33" class="categorias"
                           title="Categoria Principal Pisos, Techos, Paredes, Puertas, Ventanas en Paginas Amarillas">Pisos,
                        Techos, Paredes, Puertas, Ventanas</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=5" class="categorias"
                           title="Categoria Principal Publicidad, Material Pop, Artes Graficas en Paginas Amarillas">Publicidad,
                        Material Pop, Artes Graficas</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=34" class="categorias"
                           title="Categoria Principal Quimica, Energia, Petroleo y Minas en Paginas Amarillas">Quimica,
                        Energia, Petroleo y Minas</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=35" class="categorias"
                           title="Categoria Principal Refrigeracion y Calefaccion en Paginas Amarillas">Refrigeracion y
                        Calefaccion</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=36" class="categorias"
                           title="Categoria Principal Restaurantes y Centros Nocturnos en Paginas Amarillas">Restaurantes
                        y Centros Nocturnos</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=37" class="categorias"
                           title="Categoria Principal Ropa, Calzado, Accesorios y Joyas en Paginas Amarillas">Ropa,
                        Calzado, Accesorios y Joyas</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=38" class="categorias"
                           title="Categoria Principal Salud, Medicina, Ciencia y Bienestar en Paginas Amarillas">Salud,
                        Medicina, Ciencia y Bienestar</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=39" class="categorias"
                           title="Categoria Principal Seguridad - Proteccion, Seguridad - Control en Paginas Amarillas">Seguridad
                        - Proteccion, Seguridad - Control</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=40" class="categorias"
                           title="Categoria Principal Servicios y Comercios ... Varios en Paginas Amarillas">Servicios y
                        Comercios ... Varios</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=41" class="categorias"
                           title="Categoria Principal Sonido, Video y Fotografia en Paginas Amarillas">Sonido, Video y
                        Fotografia</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=42" class="categorias"
                           title="Categoria Principal Telecomunicaciones, Telefonia, Internet en Paginas Amarillas">Telecomunicaciones,
                        Telefonia, Internet</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=43" class="categorias"
                           title="Categoria Principal Textiles, Lenceria, Mercerias, Tapicerias en Paginas Amarillas">Textiles,
                        Lenceria, Mercerias, Tapicerias</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=44" class="categorias"
                           title="Categoria Principal Transportadores, Elevadores y Gruas en Paginas Amarillas">Transportadores,
                        Elevadores y Gruas</a></li>
                    <li><a href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?c=45" class="categorias"
                           title="Categoria Principal Turismo, Negocio, Correo y Transporte en Paginas Amarillas">Turismo,
                        Negocio, Correo y Transporte</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<table style="height: 318px;" width="670" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td style="vertical-align: top;" width="330">
            <div style="padding-top: 10px;">
                <script type="text/javascript"><!--
			google_ad_client = "pub-8611729856328789";
			/* 300x250, creado 9/03/09 */
			google_ad_slot = "6778203871";
			google_ad_width = 300;
			google_ad_height = 250;
			//-->
                </script>
                <script type="text/javascript" src='@routes.Assets.at("images/show_ads.js")'>
                </script>
            </div>
        </td>
        <td style="vertical-align: top; padding-top: 10px;" width="340">
            <table style="background-color: rgb(255, 254, 202); border-bottom: 1px solid rgb(207, 204, 81);" width="340"
                   border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td style="background-color: rgb(255, 251, 100); border: 1px solid rgb(207, 204, 81); font-family: Arial,Helvetica,sans-serif; font-size: 13px; font-weight: bold;"
                        align="center" height="20">Categorías Recomendadas de<br>Infoguia.com - <b>Paginas Amarillas</b>
                    </td>
                </tr>
                <tr>
                    <td style="font-family: Arial,Helvetica,sans-serif; padding-top: 10px;">
                        <ul style="margin-top: 0px; margin-left: 0px;">
                            <li style="margin-top: 5px;"><a class="categorias2"
                                                            href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?key=lineas-aereas-aerolineas-caracas&amp;cat=1000&amp;ciud=41">Lineas
                                Aereas, Aerolineas Nacionales, Aerolineas Internacionales</a></li>
                            <li style="margin-top: 5px;"><a class="categorias2"
                                                            href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?key=alquiler-de-carros-autos-vehiculos-caracas&amp;cat=332&amp;ciud=41">Alquiler
                                de Carros, Alquiler de Vehiculos, Autos, Automoviles</a></li>
                            <li style="margin-top: 5px;"><a class="categorias2"
                                                            href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?key=hoteles-hotel-hospedaje-caracas&amp;cat=1487&amp;ciud=41">Hoteles,
                                Hospedaje, Hoteles Turisticos, Hoteles Ejecutivos, Hoteles</a></li>
                            <li style="margin-top: 5px;"><a class="categorias2"
                                                            href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?key=expresos-lineas-de-autobuses-expresos-caracas&amp;cat=2050&amp;ciud=41">Expresos,
                                Lineas de Autobuses y Expresos, Transporte Publico, Privado</a></li>
                            <li style="margin-top: 5px;"><a class="categorias2"
                                                            href="http://paginasamarillas.infoguia.net/PagAm/PagAm.asp?key=plantas-electricas-venta-plantas-electricas-caracas&amp;cat=2339&amp;ciud=41">Plantas
                                Electricas: Venta de Plantas Electricas, Generadores Electric</a></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</div>
</div>
</div>

}(post_scripts)