<script src='@routes.Assets.at("javascripts/main/index/search_panel.js")' type='text/javascript'
        xmlns="http://www.w3.org/1999/html"></script>
<script src='@routes.Assets.at("javascripts/main/index/comboBox.js")' type='text/javascript'></script>

<style>
    .search_panel {
        padding-top: 70px;
        padding-left: 20px;
        margin-left: 50px;
    }

    #search_form { height: 170px; }

    #what_cont, #where_cont, #submit_cont {
        display: inline-table;
        vertical-align: top;
    }

    #submit_cont {
        margin-left: 45px;
        margin-top: 15px;
    }

    #cat_similar
    {
        padding-left: 95px;
    }

    #title
    {
        padding-right: 82px;
        text-align: center;
        margin-top: -30px;
        margin-bottom: 10px;
    }

    #as_home {
        padding-left: 85px;
    }

</style>

<div id="query_map_cont" title ="Delimitar Cercanía de la busqueda">
    @query_map()
</div>


<div class="search_panel">
    <div class="texto" id="title">Buscar en Infoguia.com - Paginas Amarillas</div>

    <form id="search_form" action="results" method="GET" enctype="multipart/form-data">

        <div id="what_cont">
            <label for="where1" class="texto">¿Qué Buscas?</label></br>
            <input id="what"  type="search" placeholder="¿Que buscas?" name="what" required="required" autofocus="autofocus">

            <div id="whatHow" class="texto">
                <input type="radio" id="nam_rad" name="what_how" checked="checked" value="nam" /><label for="nam_rad">Nombre</label>
                <input type="radio" id="cat_rad" name="what_how" value="cat" checked /><label for="cat_rad">Categoria</label>

                <div id="cat_similar" class="texto">
                    <input type="checkbox" id="similar" name="similar" checked /><label for="similar">Similar</label>
                </div>
            </div>
        </div>

        <div id="where_cont">
            <label for="where1" class="texto">
                ¿Dónde?
                <a id="query_map_btn" href="javascript://">
                    <img src='@routes.Assets.at("images/en-mapa.png")' alt="Buscar en mapa"/>
                </a></br>
            </label>

            <input type="hidden" id="where_llat" name="llat" /><input type="hidden" id="where_glat" name="glat" />
            <input type="hidden" id="where_llng" name="llng" /><input type="hidden" id="where_glng" name="glng" />

            <select id="where1" type="text" name="where" >
            </select></br>


            <select id="where2" type="text" name="where" >
            </select></br>

            <select id="where3" type="text" name="where" >
            </select>

            <input type="hidden" id="where_region" name="where_region" value="state"/>

            <div id="whereHow" class="texto">
                <input type="checkbox" id="near" name="near" checked="checked"/>
                <label for="near">Incluir Proximidades</label>
            </div>

        </div>
        <div id="submit_cont">
            <input src='@routes.Assets.at("images/buscar.gif")' alt="Buscar" type="image" value="Buscar" id="buscar_btn">
        </div>
    </form>

    <a id="as_home" href="http://paginasamarillas.infoguia.net/"
       title="Infoguia.com - Paginas Amarillas en Internet">
        <img src='@routes.Assets.at("images/infoguiainicio.png")' style="border: 0px none;" alt="Infoguia.com como Página de Inicio">
    </a>
</div>